html,
body {
  margin: 0;
  padding: 0;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;

}
body {
  background-color: rgb(0, 0, 0);
}
h1 {
  margin: 0;
  text-align: center;
}
p {
  text-align: center;
}
nav {
  text-align: center;
  padding: 10px 0;
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tailbar{
  padding: 25px;
}
img {
  width: 100vw;
}
.ball {
  height: 50px;
  width: 50px;
}
.BosoooZurag{
height: 322px;
width: 442px;

}
.shirt{
height: 25px;
width: 25px;
}
.boszurag{
width: 344px;
height: 322px;

}
.bosoZurag{
width: 250px;
height: 300px;
padding: 15px;
}
.m{padding: 3px;}
.shop {
  height: 55px;
  width: 55px;
}
.img{
  width: 50vw;
}
.heart {
  height: 55px;
  width: 55px;
}
.atag{
  font-size: 25px;
}
.cart {
  height: 55px;
  width: 55px;
}
.bosooZurag{
  width: 33vw;
  height: 900px;
}
.atg{
background-color: #ffffff;
}
.hureeDiv{
  display: flex;
}
p {
  color: rgb(255, 255, 255);
}
h1 {
  color: #ffffff;
  font-size: 40px;
}
.relative{
  position: relative;
  font-size: 63px;
}

.absolute{
  position: absolute;
  bottom: 50%;
  color: white;
}
header {
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  z-index: 50;
}
main {
  margin-top: 50px;
}
.img{
  width: 50vw;
}
.messi-zurag {
  object-fit: cover;

}
.huree{
  display: flex;
}
p{font-size: 25px;}
.zurag{
height: 50%;
  width: 50%;
}
.zuragg{
height: 50%;
      width: 50%;}
      .neymar{
size: 500px;
}
.paris{
height: 50%;
width: 50%;
}
.hi{
  display: flex;
  position: relative;
}
.paris{
  display: flex;}
.text{
   position: relative;
}


h1.title{
  font-size: 55px;
  font-family: cursive;
  text-align: center;
}
.bike{
text-align: center;
color: white;
}
.hevtee{
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 480px) {


  h1.title{
    font-size: 24px;
    font-family: cursive;
  }
  
.atag{
  font-size: 18px;
}
.absolute{
  font-size: 27px;
}
p{
  font-size: 14px;
}
.huree{
  flex-direction: column;

}
.img{
  width: 100vw;
}
.cart{
  width: 32px;
  height: 27px;
}
.shop{
  height: 32px;
  width: 32px;
}
.heart{
height: 32px;
  width: 32px;
}
}