html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
}
h1 {
  margin: 0;
  text-align: center;
}
p {
  text-align: center;
}
nav {
  text-align: center;
  padding: 10px 0;
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tailbar{
  padding: 25px;
}
img {
  width: 100vw;
}
.ball {
  height: 50px;
  width: 50px;
  
}
.m{padding: 3px;}
.shop {
  height: 55px;
  width: 55px;
}
.img{
  width: 50vw;
}
.heart {
  height: 55px;
  width: 55px;
}
.atag{
  font-size: 25px;
}
.cart {
  height: 55px;
  width: 55px;
}
p {
  color: rgb(255, 255, 255);
}
h1 {
  color: #ffffff;
  font-size: 40px;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
  bottom: 100px;
  color: white;
}
header {
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
main {
  margin-top: 50px;
}
.img{
  width: 50vw;
}
.messi-zurag {
  object-fit: cover;

}
.huree{
  display: flex;
}
p{font-size: 25px;}
.zurag{
height: 50%;
  width: 50%;
}
.zuragg{
height: 50%;
      width: 50%;}
      .neymar{
size: 500px;
}
.paris{
height: 50%;
width: 50%;
}
.hi{
  display: flex;
  position: relative;
}
.paris{
  display: flex;}
.text{
   position: relative;
}