
.hhe{ 
width: 100%;
height: 50px;
display: flex;
justify-content: space-around;
font-size: 50;
background-color: rgb(1, 226, 151);
}
.hhhe{
background-color: rgb(70, 28, 109);
width: 257px;
height: 875px;
}
.hhi{
width: 25px;
height: 25px;
}
